body {
  font-family: "Inconsolata", monospace;
  font-style: normal;
  letter-spacing: 0em;
  line-height: 1.6em;
  font-size: 20px;
  margin-top: 40px;
  margin-right: 80px;
  margin-left: 80px;
  margin-bottom: 30px;
}

/* Add a white background color to the top navigation */
.topnav {
  position: relative;
  background-color: white;
  overflow: hidden;
  margin-top: 0;
}

/* Style the links inside the navigation bar */
.topnav a {
  color: black;
  text-align: right;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
}

/* Change the color of links on hover */
.topnav a:hover {
  color: black;
  font-weight: bold;
  font-size: 40px;
}

.topnav a.active {
  background-color: white;
  color: black;
}

.topnav-right {
  float: right;
}

h1 {
  text-align: center;
  font-size: 15px;
}
#logo {
  position: fixed;
}
h2,
h3,
h4 {
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
/* Style inputs with type="text", select elements and textareas */
input[type="text"],
select,
textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical; /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a color */
input[type="submit"]:hover {
  background-color: black;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: white;
  padding: 50px;
  font-size: 15px;
}
h5 {
  font-size: 15px;
  text-align: left;
}
h6 {
  font-size: 15px;
}

/* Contact Form - Style the form container and center it on the page */
#contact-form {
  max-width: 400px;
  margin: 0 auto;
  font-size: 15px;
}

/* Style the form labels */
label {
  display: block;
  margin-bottom: 5px;
}

/* Style the form inputs and textarea */
input[type="text"],
input[type="email"],
textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Style the form submit button */
button[type="submit"] {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

button[type="submit"]:hover {
  background-color: black;
}

/* CSS code to style the contact form */
#contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
#name,
#email,
#message {
  width: 100%;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 5px;
  font-size: 16px;
}
#message {
  height: 100px;
}
button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}
button[type="submit"]:hover {
  background-color: black;
}

.icon-container {
  display: flex;
  justify-content: center;
  padding: 10px;
  margin-right: 10px;
}

h1 {
  color: black;
  font-weight: bold;
  font-size: 20px;
  text-transform: uppercase;
}
